<!-- Bootstrap Core JavaScript -->
<script src="__PUBLIC__/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="__PUBLIC__/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<!--<script src="__PUBLIC__/vendor/raphael/raphael.min.js"></script>-->
<!--<script src="__PUBLIC__/vendor/morrisjs/morris.min.js"></script>-->
<!--<script src="__PUBLIC__/data/morris-data.js"></script>-->

<!-- Custom Theme JavaScript -->
<script src="__PUBLIC__/dist/js/sb-admin-2.js"></script>

<script src="__PUBLIC__/js/layer/layer.js"></script>

<script type="text/javascript" src="__PUBLIC__/vendor/uploadify/jquery.uploadify.js"></script>

<script src="__PUBLIC__/js/dialog.js"></script>
<script src="__PUBLIC__/js/admin/login.js"></script>
<script src="__PUBLIC__/js/admin/common.js"></script>

</body>

</html>