<!-- 用户管理 -->

<include file="Index/header"/>

<!-- 内容 -->

<!-- "添加"按钮 -->
<div class="row">
    <div class="col-lg-2">
        <a class="btn btn-primary" href="__ROOT__/index.php?m=Admin&c=Admin&a=add">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            添加
        </a>
    </div>
</div>
<!-- /.row -->


<!--文章内容列表-->
<div class="row">
    <div class="col-lg-12">
        <h3></h3>
        <div class="table-responsive">
            <form action="">
                <table class="table table-striped table-bordered table-hover" id="item-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>用户名</th>
                        <th>邮箱</th>
                        <th>取后登录时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="users" id="user" key="k">
                        <tr>
                            <td>
                                {{$user.id}}
                            </td>
                            <td>{{$user.username}}</td>
                            <td>{{$user.email}}</td>
                            <td>{{$user.lastlogintime|date="Y-m-d H:i:s", ###}}</td>
                            <td class="item-status" data-id="{{$user.id}}" data-status="{{$user.status}}">
                                {{$user['status']? '正常':'关闭'}}
                            </td>
                            <td>
                                <a href="__ROOT__/index.php?m=Admin&c=Admin&a=removeItem&id={{$user.id}}">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </a>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<script>
    var URL = {
//        index: '__ROOT__/index.php?m=Admin&c=Article&a=index',
//        typefilter: '__ROOT__/index.php?m=Admin&c=Article&a=index&type=',
//        reneworder: '__ROOT__/index.php?m=Admin&c=Article&a=renewOrder',
//        statuschange: '__ROOT__/index.php?m=Admin&c=Admin&a=updateStatus',
        statuschange: '__ROOT__/index.php?m=Admin&c=Admin&a=switchStatus',
//        updateStatus: '__ROOT__/index.php?m=Admin&c=Admin&a=updateStatus',
//        push: '__ROOT__/index.php?m=Admin&c=Article&a=pushArticle',
    }
</script>

<include file="Index/footer"/>